* {
  outline: 0 !important;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

body {
  overflow-x: hidden;
}

#inicio, #africa, #grecia, #inglaterra, #estadosUnidos, #colombia {
  width: 100%;
  height: 100vh;
}

.mostrar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  overflow-y: hidden;
}

header .menuHamburgesa {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 1%;
  margin: 10px;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
}
header .menuHamburgesa .fa-bars {
  font-size: 3em;
  cursor: pointer;
}
header .menuHamburgesa .fa-times {
  font-size: 3em;
  cursor: pointer;
}
header .menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  display: none;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #dfe2e5;
}
header .menu h2 {
  font-size: 2em;
  color: #3c58a2;
  padding: 20px;
}

#inicio {
  overflow-y: hidden;
}

#africa {
  background: url(../img/africa/fondoAfrica.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
#africa .menuMultimediaA {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
#africa .menuMultimediaA .btn-primary {
  margin: 20px;
  color: black;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  height: 65px;
  width: 120px;
}
#africa .menuMultimediaA .btn-primary i {
  font-size: 2em;
}
#africa .menuMultimediaA .btn-primary h3 {
  font-size: 1em;
}
#africa .nubesAfrica {
  position: absolute;
}
#africa .nubesAfrica .animacionNube1A {
  -webkit-animation-name: nubeAfrica1;
          animation-name: nubeAfrica1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeAfrica1 {
  from {
    -webkit-transform: translate(940px, 100px);
            transform: translate(940px, 100px);
  }
  to {
    -webkit-transform: translate(1366px, 450px);
            transform: translate(1366px, 450px);
  }
}
@keyframes nubeAfrica1 {
  from {
    -webkit-transform: translate(940px, 100px);
            transform: translate(940px, 100px);
  }
  to {
    -webkit-transform: translate(1366px, 450px);
            transform: translate(1366px, 450px);
  }
}
#africa .nubesAfrica .animacionNube2A {
  -webkit-animation-name: nubeAfrica1;
          animation-name: nubeAfrica1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes nubeAfrica1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#africa .nubesAfrica .animacionNube3A {
  -webkit-animation-name: nubeAfrica1;
          animation-name: nubeAfrica1;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes nubeAfrica1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
#africa .nubesAfrica .animacionNube4A {
  -webkit-animation-name: nubeAfrica1;
          animation-name: nubeAfrica1;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes nubeAfrica1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#grecia {
  background: url(../img/grecia/fondoGrecia.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
#grecia .menuMultimediaA {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
#grecia .menuMultimediaA .btn-primary {
  margin: 20px;
  color: black;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  height: 65px;
  width: 120px;
}
#grecia .menuMultimediaA .btn-primary i {
  font-size: 2em;
}
#grecia .menuMultimediaA .btn-primary h3 {
  font-size: 1em;
}
#grecia .nubesGrecia {
  position: absolute;
}
#grecia .nubesGrecia .animacionNube1G {
  -webkit-animation-name: nubeGrecia1;
          animation-name: nubeGrecia1;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeGrecia1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeGrecia1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#grecia .nubesGrecia .animacionNube2G {
  -webkit-animation-name: nubeGrecia2;
          animation-name: nubeGrecia2;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeGrecia2 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeGrecia2 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#grecia .nubesGrecia .animacionNube3G {
  -webkit-animation-name: nubeGrecia3;
          animation-name: nubeGrecia3;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeGrecia3 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeGrecia3 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#grecia .nubesGrecia .animacionNube4G {
  -webkit-animation-name: nubeGrecia4;
          animation-name: nubeGrecia4;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeGrecia4 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeGrecia4 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#inglaterra {
  background: url(../img/inglaterra/fondoInglaterra.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
#inglaterra .menuMultimediaA {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
#inglaterra .menuMultimediaA .btn-primary {
  margin: 20px;
  color: black;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  height: 65px;
  width: 120px;
}
#inglaterra .menuMultimediaA .btn-primary i {
  font-size: 2em;
}
#inglaterra .menuMultimediaA .btn-primary h3 {
  font-size: 1em;
}
#inglaterra .nubesInglaterra {
  position: absolute;
}
#inglaterra .nubesInglaterra .animacionNube1I {
  -webkit-animation-name: nubeInglaterra1;
          animation-name: nubeInglaterra1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeInglaterra1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeInglaterra1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#inglaterra .nubesInglaterra .animacionNubeI2 {
  -webkit-animation-name: nubeInglaterra2;
          animation-name: nubeInglaterra2;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeInglaterra2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeInglaterra2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#inglaterra .nubesInglaterra .animacionNube3I {
  -webkit-animation-name: nubeInglaterra3;
          animation-name: nubeInglaterra3;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeInglaterra3 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeInglaterra3 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#estadosUnidos {
  background: url(../img/estadosUnidos/fondoEstadosUnidos.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
#estadosUnidos .menuMultimediaA {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
#estadosUnidos .menuMultimediaA .btn-primary {
  margin: 20px;
  color: black;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  height: 65px;
  width: 120px;
}
#estadosUnidos .menuMultimediaA .btn-primary i {
  font-size: 2em;
}
#estadosUnidos .menuMultimediaA .btn-primary h3 {
  font-size: 1em;
}
#estadosUnidos .nubesEstadosUnidos {
  position: absolute;
}
#estadosUnidos .nubesEstadosUnidos .animacionNube1E {
  -webkit-animation-name: nubeEstadosUnidos1;
          animation-name: nubeEstadosUnidos1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeEstadosUnidos1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeEstadosUnidos1 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#estadosUnidos .nubesEstadosUnidos .animacionNube2E {
  -webkit-animation-name: nubeEstadosUnidos2;
          animation-name: nubeEstadosUnidos2;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeEstadosUnidos2 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeEstadosUnidos2 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#estadosUnidos .nubesEstadosUnidos .animacionNube3E {
  -webkit-animation-name: nubeEstadosUnidos3;
          animation-name: nubeEstadosUnidos3;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeEstadosUnidos3 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeEstadosUnidos3 {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#estadosUnidos .nubesEstadosUnidos .animacionNube4E {
  -webkit-animation-name: nubeEstadosUnidos4;
          animation-name: nubeEstadosUnidos4;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes nubeEstadosUnidos4 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
@keyframes nubeEstadosUnidos4 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
#colombia {
  background: url(../img/colombia/fondoColombia.png) no-repeat;
  background-size: 100%;
  position: relative;
  background-attachment: fixed;
}
#colombia .menuMultimediaA {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
#colombia .menuMultimediaA .btn-primary {
  margin: 20px;
  color: black;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  height: 65px;
  width: 120px;
}
#colombia .menuMultimediaA .btn-primary i {
  font-size: 2em;
}
#colombia .menuMultimediaA .btn-primary h3 {
  font-size: 1em;
}
#colombia .extrellasColombia {
  position: absolute;
}
#colombia .extrellasColombia .animacionExtrella1C {
  -webkit-animation-name: extrellaColombia1;
          animation-name: extrellaColombia1;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(180px, 200px);
          transform: translate(180px, 200px);
}
@-webkit-keyframes extrellaColombia1 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia1 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella2C {
  -webkit-animation-name: extrellaColombia2;
          animation-name: extrellaColombia2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(125px, 41px);
          transform: translate(125px, 41px);
}
@-webkit-keyframes extrellaColombia2 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia2 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella3C {
  -webkit-animation-name: extrellaColombia3;
          animation-name: extrellaColombia3;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(450px, 65px);
          transform: translate(450px, 65px);
}
@-webkit-keyframes extrellaColombia3 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia3 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella4C {
  -webkit-animation-name: extrellaColombia4;
          animation-name: extrellaColombia4;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(320px, 230px);
          transform: translate(320px, 230px);
}
@-webkit-keyframes extrellaColombia4 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia4 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella5C {
  -webkit-animation-name: extrellaColombia5;
          animation-name: extrellaColombia5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(700px, 65px);
          transform: translate(700px, 65px);
}
@-webkit-keyframes extrellaColombia5 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia5 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella6C {
  -webkit-animation-name: extrellaColombia6;
          animation-name: extrellaColombia6;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(520px, 175px);
          transform: translate(520px, 175px);
}
@-webkit-keyframes extrellaColombia6 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia6 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella7C {
  -webkit-animation-name: extrellaColombia7;
          animation-name: extrellaColombia7;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(820px, 192px);
          transform: translate(820px, 192px);
}
@-webkit-keyframes extrellaColombia7 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia7 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#colombia .extrellasColombia .animacionExtrella8C {
  -webkit-animation-name: extrellaColombia8;
          animation-name: extrellaColombia8;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  animation-timing-fuction: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(940px, 100px);
          transform: translate(940px, 100px);
}
@-webkit-keyframes extrellaColombia8 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes extrellaColombia8 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */